.botoneses{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
 /* Estilos para la tabla */
 .tables {
    width: 100%;
    border-collapse: collapse;
 }
 /* Estilos para el formulario */
 button {
    background-color: #4c98af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
 }

 button:hover {
    opacity: 0.8;
 }